{% extends 'client_header.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'images/background/7.jpg' %})">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>About Us</h1>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/client/show_home/">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<section class="about-style-two section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-img">
                    <img src="{% static 'images/resource/welcome.jpg' %}" alt="Awesome Image">
                </div><!-- /.about-img -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="about-style-one-content">
                    <!--Sec Title-->
                    <div class="sec-title centered">
                        <div class="separator">
                            <span class="icon flaticon-pawprint-1"></span>
                        </div>
                        <div class="title">Because We Really Care About Your Pets</div>
                        <h2>Welcome to Pet Parsdise</h2>
                    </div>
                    <p class="special">We are going to build our project on “Pet Paradise "is an interactive and
                        user-friendly web application that provide the wide range of Pets accessories to buy online.
                    </p>
                    <p>Using this web application user can search for any products online and also place order for that.
                        User can also have option to pay online.
                    </p>
                    <p>Admin can generate variety of reports and track the user order easily using admin interface.
                    </p>
                    <!--                                <a href="#" class="theme-btn btn-style-two thm-btn">Read More</a>-->
                </div><!-- /.about-style-one-content -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!--<section class="about-faq-section gray-bg section-padding">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="accrodion-grp" data-grp-name="faq-accrodion">-->
<!--                    <div class="accrodion ">-->
<!--                        <div class="accrodion-title">-->
<!--                            <h4>Our Mission</h4>-->
<!--                        </div>-->
<!--                        <div class="accrodion-content">-->
<!--                            <p>Everage agile frameworks to provide a robust synopsis for high level overviews. Iterative-->
<!--                                approaches to corporate strategy foster collaborative thinking to further the overall-->
<!--                                value proposition. Organically grow the holistic world view of disruptive innovation via-->
<!--                                workplace diversity and empowerment.</p>-->
<!--                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end-->
<!--                                of the day, going forward, a new normal that has evolved from generation X is on the-->
<!--                                runway heading towards a streamlined cloud solution. User generated content in real-time-->
<!--                                will have multiple </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="accrodion active">-->
<!--                        <div class="accrodion-title">-->
<!--                            <h4>Our Vision</h4>-->
<!--                        </div>-->
<!--                        <div class="accrodion-content">-->
<!--                            <p>Everage agile frameworks to provide a robust synopsis for high level overviews. Iterative-->
<!--                                approaches to corporate strategy foster collaborative thinking to further the overall-->
<!--                                value proposition. Organically grow the holistic world view of disruptive innovation via-->
<!--                                workplace diversity and empowerment.</p>-->
<!--                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end-->
<!--                                of the day, going forward, a new normal that has evolved from generation X is on the-->
<!--                                runway heading towards a streamlined cloud solution. User generated content in real-time-->
<!--                                will have multiple </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="accrodion">-->
<!--                        <div class="accrodion-title">-->
<!--                            <h4>Values</h4>-->
<!--                        </div>-->
<!--                        <div class="accrodion-content">-->
<!--                            <p>Everage agile frameworks to provide a robust synopsis for high level overviews. Iterative-->
<!--                                approaches to corporate strategy foster collaborative thinking to further the overall-->
<!--                                value proposition. Organically grow the holistic world view of disruptive innovation via-->
<!--                                workplace diversity and empowerment.</p>-->
<!--                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end-->
<!--                                of the day, going forward, a new normal that has evolved from generation X is on the-->
<!--                                runway heading towards a streamlined cloud solution. User generated content in real-time-->
<!--                                will have multiple </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="accrodion">-->
<!--                        <div class="accrodion-title">-->
<!--                            <h4>New Anouncement</h4>-->
<!--                        </div>-->
<!--                        <div class="accrodion-content">-->
<!--                            <p>Everage agile frameworks to provide a robust synopsis for high level overviews. Iterative-->
<!--                                approaches to corporate strategy foster collaborative thinking to further the overall-->
<!--                                value proposition. Organically grow the holistic world view of disruptive innovation via-->
<!--                                workplace diversity and empowerment.</p>-->
<!--                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end-->
<!--                                of the day, going forward, a new normal that has evolved from generation X is on the-->
<!--                                runway heading towards a streamlined cloud solution. User generated content in real-time-->
<!--                                will have multiple </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; /.col-md-12 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--</section>&lt;!&ndash; /.about-faq-section &ndash;&gt;-->
<section class="what-we-offer section-padding">
    <div class="container">
        <!--Sec Title-->
        <div class="sec-title centered">
            <div class="separator">
                <span class="icon flaticon-pawprint-1"></span>
            </div>
            <div class="title">Because We Really Care About Your Pets</div>
            <h2>Welcome to Pet Paradise</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-what-we-offer hvr-bounce-to-bottom">
                    <i class="icon flaticon-face-of-staring-dog"></i>
                    <h3>Pet Shelter Home</h3>
                    <!--                            <p>strategy foster collaborative thinking to <br /> further the overall value theinnovation <br /> via workplace </p>-->
                    <a href="/client/shelter/" class="read-more"><i class="fa fa-angle-right"></i></a>
                </div><!-- /.single-what-we-offer -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-what-we-offer hvr-bounce-to-bottom">
                    <i class="icon flaticon-dog-bone"></i>
                    <h3>Pet Gallery</h3>
                    <a href="/client/gallery/" class="read-more"><i class="fa fa-angle-right"></i></a>
                </div><!-- /.single-what-we-offer -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-what-we-offer hvr-bounce-to-bottom">
                    <i class="icon flaticon-pawprint-1"></i>
                    <h3>Pet Veterinary</h3>
                    <!--                            <p>strategy foster collaborative thinking to <br /> further the overall value theinnovation <br /> via workplace </p>-->
                    <a href="/client/doctor/" class="read-more"><i class="fa fa-angle-right"></i></a>
                </div><!-- /.single-what-we-offer -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.what-we-offer -->
<!--        <section class="testimonial-style-two">-->
<!--            <div class="container">-->
<!--                <div class="testimonial-carousel-two owl-carousel owl-theme">-->
<!--                    <div class="item">-->
<!--                        <div class="single-testimonial-style-two">-->
<!--                            <div class="img-box">-->
<!--                                <div class="inner">-->
<!--                                    <img src="{% static 'images/resource/author-1.jpg' %}" alt="Awesome Image"/>-->
<!--                        </div>&lt;!&ndash; /.inner &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; /.img-box &ndash;&gt;-->
<!--                                <div class="text-box">-->
<!--                                    <h3>Michael Jackson <span>Pet Doctor</span></h3>-->
<!--                                    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. </p>-->
<!--                                </div>&lt;!&ndash; /.text-box &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; /.single-testimonial-style-two &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--                        <div class="item">-->
<!--                            <div class="single-testimonial-style-two">-->
<!--                                <div class="img-box">-->
<!--                                    <div class="inner">-->
<!--                                        <img src="{% static 'images/resource/author-3.jpg' %}" alt="Awesome Image"/>-->
<!--                        </div>&lt;!&ndash; /.inner &ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; /.img-box &ndash;&gt;-->
<!--                                    <div class="text-box">-->
<!--                                        <h3>Nattasha <span>Pet Sitter</span></h3>-->
<!--                                        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. </p>-->
<!--                                    </div>&lt;!&ndash; /.text-box &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; /.single-testimonial-style-two &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; /.item &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--        </section>&lt;!&ndash; /.testimonial-style-two &ndash;&gt;-->
<!--Team Section-->
<!--        <section class="team-section">-->
<!--            <div class="auto-container">-->
<!--                &lt;!&ndash;Sec Title&ndash;&gt;-->
<!--                <div class="sec-title centered">-->
<!--                    <div class="separator">-->
<!--                        <span class="icon flaticon-pawprint-1"></span>-->
<!--                    </div>-->
<!--                    <div class="title">Because We Really Care About Your Pets</div>-->
<!--                    <h2>Our Team Members</h2>-->
<!--                </div>-->
<!--                <div class="row clearfix">-->
<!--                    &lt;!&ndash;Team Block&ndash;&gt;-->
<!--                    <div class="team-block col-md-3 col-sm-6 col-xs-12">-->
<!--                        <div class="inner-box">-->
<!--                            <div class="image">-->
<!--                                <a href="team-detail.html"><img src="{% static 'images/resource/team-1.jpg' %}" alt="" /></a>-->
<!--                            </div>-->
<!--                            <div class="lower-box">-->
<!--                                <h3><a href="team-detail.html">Thomas Nick</a></h3>-->
<!--                                <div class="designation">founder</div>-->
<!--                                <div class="social-box">-->
<!--                                    <ul class="social-icon-one">-->
<!--                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Team Block&ndash;&gt;-->
<!--                    <div class="team-block col-md-3 col-sm-6 col-xs-12">-->
<!--                        <div class="inner-box">-->
<!--                            <div class="image">-->
<!--                                <a href="team-detail.html"><img src="{% static 'images/resource/team-2.jpg' %}" alt="" /></a>-->
<!--                            </div>-->
<!--                            <div class="lower-box">-->
<!--                                <h3><a href="team-detail.html">James Harry</a></h3>-->
<!--                                <div class="designation">pet lover</div>-->
<!--                                <div class="social-box">-->
<!--                                    <ul class="social-icon-one">-->
<!--                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Team Block&ndash;&gt;-->
<!--                    <div class="team-block col-md-3 col-sm-6 col-xs-12">-->
<!--                        <div class="inner-box">-->
<!--                            <div class="image">-->
<!--                                <a href="team-detail.html"><img src="{% static 'images/resource/team-3.jpg' %}" alt="" /></a>-->
<!--                            </div>-->
<!--                            <div class="lower-box">-->
<!--                                <h3><a href="team-detail.html">Lucy Anderson</a></h3>-->
<!--                                <div class="designation">donator</div>-->
<!--                                <div class="social-box">-->
<!--                                    <ul class="social-icon-one">-->
<!--                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Team Block&ndash;&gt;-->
<!--                    <div class="team-block col-md-3 col-sm-6 col-xs-12">-->
<!--                        <div class="inner-box">-->
<!--                            <div class="image">-->
<!--                                <a href="team-detail.html"><img src="{% static 'images/resource/team-4.jpg' %}" alt="" /></a>-->
<!--                            </div>-->
<!--                            <div class="lower-box">-->
<!--                                <h3><a href="team-detail.html">Daniel Jacob</a></h3>-->
<!--                                <div class="designation">pet Adopter</div>-->
<!--                                <div class="social-box">-->
<!--                                    <ul class="social-icon-one">-->
<!--                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>-->
<!--                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--End Team Section-->
<!--Subscribe Style One-->
<!--        <section class="subscribe-style-one" style="background-image:url({% static 'images/background/7.jpg' %})">-->
<!--            <div class="auto-container">-->
<!--                <div class="row clearfix">-->
<!--                    <div class="col-md-5 col-sm-12 col-xs-12 env_message">-->
<!--                        <div class="icon-box">-->
<!--                            <span class="icon flaticon-message"></span>-->
<!--                        </div>-->
<!--                        <h2>Subscribe Newsletter</h2>-->
<!--                        <div class="text">Get weekly news & latest updates from Pawrex!</div>-->
<!--                    </div>-->
<!--                    <div class="col-md-7 col-sm-12 col-xs-12">-->
<!--                        <form method="post" action="http://www.shmai.com/preview/pawrex-html/contact.html">-->
<!--                            <div class="form-group clearfix">-->
<!--                                <input type="email" name="email" value="" placeholder="Your Email ..." required>-->
<!--                                <button type="submit" class="theme-btn btn-style-three">Subscribe</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--End Subscribe Style One-->

{% endblock %}