{% extends 'client_header.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
        <section class="page-title" style="background-image:url({% static 'images/background/7.jpg' %}">

            <div class="auto-container">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1>Order Detail</h1>
                    </div>
                    <div class="pull-right">
                        <ul class="page-breadcrumb">
                            <li><a href="/client/show_home/">Home</a></li>
                            <li>Order Detail</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!--Sidebar Page Container-->
        <div class="sidebar-page-container">
            <div class="auto-container">
                <div class="clearfix">
                    <section class="padding ptb-xs-60">
                        <div class="cart_page_area sp100">
                            <div class="container">
                                <div class="cart_table_wraper">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="cart_wrpaer">
                                                <div class="table_scroll table-responsive">
                                                    <table class="table">
                                                        <thead class="dark-bg">
                                                            <tr>
<!--                                                                <th><span>OrderItem ID</span></th>-->
                                                                <th><span>Product Name</span></th>
                                                                <th><span>Product</span></th>
                                                                <th><span>Quantity</span></th>
                                                                <th><span>Product Price</span></th>
                                                                <th><span>Total Amount</span></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for data in orderitems %}
                                                            <tr>

<!--                                                                <td class="padding_all">-->
<!--                                                                    <p>-->
<!--                                                                        {{ data.order_item_id }}-->
<!--                                                                    </p>-->
<!--                                                                </td>-->

                                                                <td class="padding_all">
                                                                    <p>
                                                                        {{data.product_id.product_name}}
                                                                    </p>
                                                                </td>

                                                                <td>
                                                                    <p>
                                                                       <img class="img-rounded"
                                                                          src="{% static 'assets/img/' %}{{data.product_id.product_image}}" alt="">
                                                                    </p>
                                                                </td>

                                                                <td class="padding_all">
                                                                    <p>
                                                                        {{data.qty_id}}
                                                                    </p>
                                                                </td>

                                                                <td class="padding_all">
                                                                    <p>
                                                                        ${{data.product_price}}
                                                                    </p>
                                                                </td>

                                                                <td class="padding_all">
                                                                    <p>
                                                                        ${{data.total_amount}}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                           {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- table End -->
                                                </div>
<!--                                                <div class="row cart_btns">-->
<!--                                                    <div class="col-lg-4 col-md-6 ">-->
<!--                                                        <form action="#">-->
<!--                                                            <input type="text" placeholder="Coupon Code"-->
<!--                                                                class="common_btn cart_page_btn1" name="coupon">-->
<!--                                                        </form>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-lg-4 col-md-6">-->
<!--                                                        <a class="theme-btn btn-style-three cart_page_btn2"-->
<!--                                                            href="#">Apply coupon</a>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; column End &ndash;&gt;-->
<!--                                                    <div class="col-lg-4 col-md-12 btn-three text-end">-->
<!--                                                        <a class="theme-btn btn-style-three" href="#">Continue Shopping-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; column End &ndash;&gt;-->
<!--                                                </div>-->
                                                <!-- cart_btns End -->
                                            </div>
                                        </div>
                                        <!-- column End -->
                                    </div>
                                    <!-- row End -->
<!--                                    <div class="row">-->
<!--                                        <div class="col-12">-->
<!--                                            <div class="cart_totals_area gray-bg">-->
<!--                                                <ul>-->
<!--                                                    <li>-->
<!--                                                        Subtotal <span>$29.99</span>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        Shipping Charge<span>free</span>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <strong>Total</strong><span><strong> $ 59.99 </strong></span>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                                <a class="theme-btn btn-style-three" href="checkout.html">Proceed To-->
<!--                                                    Checkout</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; column End &ndash;&gt;-->
<!--                                    </div>-->
                                    <!-- row End -->
                                </div>
                            </div>
                            <!-- container End -->
                        </div>
                    </section>
                </div>
            </div>
        </div>

{% endblock %}