<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django + Charts.js</title>

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}
  </head>
  <body>
    <div class='container'>
    <div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <div class='col-sm-12'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>


    </div>
</div>

    </div>
    {% include 'base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
  </body>
</html>
