{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content">
                        <h1>Appointment Form</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">

            <div class="card">
                <form method="post" action="/insert_app/">
                    {% csrf_token %}
                    <div class="card-header">
                        <h4>Inserting Appointment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="formrow-customer-input" class="col-sm-3 col-form-label">Customer ID</label>
                            <div class="col-sm-9">
                                <select name="c_id" class="form-control" id="formrow-customer-input">

                                        <option selected>Choose...</option>
                                                {% for ar in customer_all %}
                                                <option value="{{ar.c_id}}">{{ar.c_name}}</option>
                                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="formrow-doctor-input" class="col-sm-3 col-form-label">Doctor ID</label>
                            <div class="col-sm-9">
                                <select name="doctor_id" class="form-control" id="formrow-doctor-input">

                                        <option selected>Choose...</option>
                                                {% for ar in doctor_all %}
                                                <option value="{{ar.doctor_id}}">{{ar.doctor_name}}</option>
                                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="formrow-time-input" class="col-sm-3 col-form-label">Appointment Time</label>
                            <div class="col-sm-9">
                                <input type="time" name="appointment_time" class="form-control" id="formrow-time-input" placeholder="Enter Appointment Time">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="formrow-date-input" class="col-sm-3 col-form-label">Appointment Date</label>
                            <div class="col-sm-9">
                                <input type="date" name="appointment_date" class="form-control" id="formrow-date-input" placeholder="Enter Appointment Date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="formrow-status-input" class="col-sm-3 col-form-label">Appointment Status</label>
                            <div class="col-sm-9">
                                <input type="number" name="appointment_status" class="form-control" id="formrow-status-input" placeholder="Enter Appointment Status">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                            <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="settingSidebar">
            <a href="javascript:void(0)" class="settingPanelToggle"> <i
                    class="fa fa-spin fa-cog"></i>
            </a>
            <div class="settingSidebar-body ps-container ps-theme-default">
                <div class=" fade show active">
                    <div class="setting-panel-header">Theme Customizer</div>
                    <div class="p-15 border-bottom">
                        <h6 class="font-medium m-b-10">Theme Layout</h6>
                        <div class="selectgroup layout-color w-50">
                            <label> <span class="control-label p-r-20">Light</span>
                                <input type="radio" name="custom-switch-input" value="1"
                                       class="custom-switch-input" checked> <span
                                        class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="selectgroup layout-color  w-50">
                            <label> <span class="control-label p-r-20">Dark&nbsp;</span>
                                <input type="radio" name="custom-switch-input" value="2"
                                       class="custom-switch-input"> <span
                                        class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Colors</h6>
                    <div class="sidebar-setting-options">
                        <ul class="sidebar-color list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="blue">
                                <div class="blue"></div>
                            </li>
                            <li title="coral">
                                <div class="coral"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="allports">
                                <div class="allports"></div>
                            </li>
                            <li title="barossa">
                                <div class="barossa"></div>
                            </li>
                            <li title="fancy">
                                <div class="fancy"></div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Theme Colors</h6>
                    <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="blue">
                                <div class="blue"></div>
                            </li>
                            <li title="coral">
                                <div class="coral"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="allports">
                                <div class="allports"></div>
                            </li>
                            <li title="barossa">
                                <div class="barossa"></div>
                            </li>
                            <li title="fancy">
                                <div class="fancy"></div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Layout Options</h6>
                    <div class="theme-setting-options">
                        <label> <span class="control-label p-r-20">Compact
								Sidebar Menu</span> <input type="checkbox"
                                                           name="custom-switch-checkbox" class="custom-switch-input"
                                                           id="mini_sidebar_setting"> <span
                                class="custom-switch-indicator"></span>
                        </label>
                    </div>
                </div>
                <div class="mt-3 mb-3 align-center">
                    <a href="#"
                       class="btn btn-icon icon-left btn-outline-primary btn-restore-theme">
                        <i class="fas fa-undo"></i> Restore Default
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}